<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="/media/LOGO NATRAJ SUPER R no layer.jpg" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link" href="/">Home</a>
              <a class="nav-link" href="/about">About</a>
              <a class="nav-link" href="#footer">Contact</a>
              <a class="nav-link" href="#">Gallery</a>
              <a class="nav-link" href="/reg">Register</a>
              <a class="nav-link" href="/login">Log-in</a>
              
            </div>
          </div>
        </div>
      </nav>
</section>