<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-8"><h1>dashboard</h1></div>
            <div class="col-md-4">
                <form action="/admin/logout" method="post">
                <button type="submit" class="btn btn-primary mt-3 ">Logout</button>
                </form>
            </div>
    </div>
    </section>