<div class="col-md-4">
    <p><form action="/admin/dashboard" method="post">
                <button type="submit" class="btn btn-success form-control">Banner Page</button>
            </form></p>
            <p><a href="/adminabout"><button class="btn btn-success form-control" id="aboutbutton">About page</button></a></p>
            <p><a href="/admin/contactformdetails"><button class="btn btn-success form-control" id="aboutbutton">Contact form detail page</button></a></p>
            <p><a href="/admin/reg"><button class="btn btn-success form-control" id="aboutbutton">Registration Customer Detail Page</button></a></p>

        </div>